{% extends '.base.html' %}
{% block content %}
  <h1>Two way data binding</h1>
  <p>
  If we add two numbers X
  <input data-tie='value:ex.x' />
  and Y <input data-tie='value:ex.y' />
  the result is <span data-tie='innerHTML:ex.total'></span> and the square of that is <span data-tie='innerHTML:ex.square'></span>.
  </p>
  <p>You can even bind things to attributes , like the placeholder of this input field<input data-tie='placeholder:ex.equation'/>.</p>
  <p data-tie='class:ex.visible'>Visibility of elements can also be controlled using computed values. To make this paragraph disappear change the values of x and y so that the total is 0.</p>
  <script>
  {% include 'examples/twoWayDataBind/bind.js' %}
  ex = bindToDom('ex', {
      x: 1,
      y: 2,
      total: function(data){
        return Number(data.x) + Number(data.y)
      },
      square: function(data){
        return Number(data.total) * Number(data.total)
      },
      equation: function(data){
        return `${data.x} + ${data.y} = ${data.total} ^2 = ${data.square}`
      },
      visible: function (data){
        if(data.total === 0){ return 'd-none' }
        return ''
      }
    })
  </script>
  <style> .d-none{display: none;} </style>
{% endblock %}
